<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}
    {% block title %}Data Dropdowns{% endblock %}
</head>
<body>
    {% block content %}
    <h2>Query Builder</h2>
    <form id="data-form" onsubmit="submitForm(event)">
        <br><br>

        <select id="industry-dropdown" name="industry">
            <option value="" selected disabled hidden>Industry</option>
            {% for item in industry %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <select id="country-dropdown" name="country">
            <option value="" selected disabled hidden>Country</option>
            {% for item in country %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <select id="city-dropdown" name="city">
            <option value="" selected disabled hidden>City</option>
            {% for item in city %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <select id="year-dropdown" name="year">
            <option value="" selected disabled hidden>Year</option>
            {% for item in year %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <select id="domain-dropdown" name="domain">
            <option value="" selected disabled hidden>Domain</option>
            {% for item in domain %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br><br>
        <div>
            <button type="submit">Submit</button>
            <button type="button" onclick="resetForm()">Reset</button>
        </div>
    </form>

    <br><br>
    <div id="result"></div>

    <script>
        function submitForm(event) {
            event.preventDefault();
            const form = document.getElementById('data-form');
            const formData = new FormData(form);

            // Convert the year to an integer before sending it
            const year = formData.get('year');
            formData.set('year', parseInt(year));

            fetch('', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                const count = data.count;
                document.getElementById('result').innerHTML = `${count} records found in this query`;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function resetForm() {
        const form = document.getElementById('data-form');
        form.reset();
        document.getElementById('result').innerHTML = ''; // Clear the result text
    }
    </script>
    {% endblock %}
</body>
</html>
