<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}
    {% block title %}File Upload{% endblock %}
</head>
<body>
    {% block content %}
    <h2>File Upload</h2>
    <form id="uploadForm" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="fileInput">
        <br><br>
        <div id="fileDisplayArea"></div>
        <br><br>
        <button type="submit" onclick="handleUpload(event)">Start Upload</button>
    </form>

    <script>
        document.getElementById('fileInput').addEventListener('change', function() {
            var file = this.files[0];
            var fileDisplayArea = document.getElementById('fileDisplayArea');
            fileDisplayArea.innerText = "Selected file: " + file.name;
        });

        async function handleUpload(event) {
            event.preventDefault(); // Prevents the form from submitting

            // Perform the upload action here
            const response = await fetch('/upload/', {
                method: 'POST',
                body: new FormData(document.getElementById('uploadForm'))
            });
            
            const jsonData = await response.json();
            alert(JSON.stringify(jsonData, null, 2)); // Display the JSON response in a pop-up
        }
    </script>
    {% endblock %}
</body>
</html>
